@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-Thin.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-Thin.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-ExtraLight.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-ExtraLight.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-Light.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-Light.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-Regular.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-Regular.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-Medium.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-Medium.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-SemiBold.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-SemiBold.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-Bold.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-Bold.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-ExtraBold.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-ExtraBold.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PeydaFa";
  src: url("../fonts/peyda/fa/woff2/PeydaWebFaNum-Black.woff2");
  src: url("../fonts/peyda/fa/TTF/PeydaFaNum-Black.ttf") format("truetype"),
    url("../fonts/peyda/fa/woff/PeydaWebFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*  ------------------  standard font  ---------------------  */

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-Thin.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-Thin.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-ExtraLight.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-ExtraLight.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-Light.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-Light.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-Regular.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-Regular.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-Medium.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-Medium.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-SemiBold.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-SemiBold.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-Bold.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-Bold.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-ExtraBold.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-ExtraBold.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("../fonts/peyda/en/woff2/PeydaWebFaNum-Black.woff2");
  src: url("../fonts/peyda/en/TTF/PeydaFaNum-Black.ttf") format("truetype"),
    url("../fonts/peyda/en/woff/PeydaWebFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
