@use './variables' as *;
@use './mixins' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: PeydaFa;
  color: var(--clr-primary-500);
  background-color: var(--clr-bg-700);

  @include fs('body');

  @include mq('lg') {
    @include fs('body-s');
  }
}

html[lang='en-US'] body {
  font-family: Peyda;

  i span {
    font-family: Peyda;
  }

  input,
  textarea,
  select {
    font-family: Peyda;
  }
}

i span {
  font-family: PeydaFa;
}

input,
textarea,
select {
  font-family: PeydaFa;
  border: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.img-wrapper {
  display: flex;
  height: 100%;

  img {
    object-fit: cover;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

button {
  font-family: peyda;
}

::placeholder {
  @include fs('body-s');
  color: var(--clr-primary-300);
}

:focus-visible {
  outline: 0;
}

input {
  border: none;
  &:focus-visible {
    outline: none;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

html[lang='en-US'] #menuOpener {
  transform: scaleX(-1);
}

html[lang='en-US'] {
  .middle-section__inner-content {
    &::after {
      font-family: 'Peyda';
    }
  }
}

html[lang='en-US'] {
}
