@use '../utils/index' as *;

// .big-btn {
//   @include d_flex($gap: px_to_rem(4));
//   background: var(--clr-natural-900);
//   color: var(--clr-text-100);
//   padding: px_to_rem(16) px_to_rem(40);
//   @include fs('body-s');
//   cursor: pointer;
//   border: 1px solid transparent;
//   transition: 0.5s;

//   @include mq('md') {
//     padding: px_to_rem(8) px_to_rem(16);
//   }

//   &:hover {
//     background: var(--clr-bg-500);
//     color: var(--clr-text-700);
//     border: 1px solid var(--clr-text-700);
//   }
// }

// .big-sm {
//   @include d_flex($gap: px_to_rem(4));
//   background: var(--clr-natural-900);
//   color: var(--clr-text-100);
//   padding: px_to_rem(8) px_to_rem(16);
//   @include fs('body-s');
//   cursor: pointer;
//   border: 1px solid transparent;
//   transition: 0.5s;

//   @include mq('md') {
//     padding: px_to_rem(8) px_to_rem(16);
//   }

//   &:hover {
//     background: var(--clr-bg-500);
//     color: var(--clr-text-700);
//     border: 1px solid var(--clr-text-700);
//   }
// }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $s_1;
  border: 1px solid transparent;
  transition: 0.5s ease;
  cursor: pointer;

  &[size='small'] {
    @include btnSizes('small');
  }

  &[size='medium'] {
    @include btnSizes('medium');

    @include mq('lg') {
      @include btnSizes('small');
      @include fs('body-s');
    }
  }

  &[size='big'] {
    @include btnSizes('big');
  }

  &[variant='primary'] {
    background-color: var(--clr-natural-900);
    color: var(--clr-natural-100);

    &:hover {
      background-color: var(--clr-natural-100);
      color: var(--clr-natural-900);
      border-color: var(--clr-natural-900);
    }
  }

  &[variant='secondary'] {
    background-color: var(--clr-natural-100);
    color: var(--clr-natural-900);

    &:hover {
      background-color: var(--clr-natural-900);
      color: var(--clr-natural-100);
      border-color: var(--clr-natural-100);
    }
  }

  &[variant='text'] {
    background-color: transparent;
    color: var(--clr-secondary-700);

    &:hover {
      background-color: var(--clr-natural-100);
    }
  }

  &[disable='true'] {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.3;
  }

  &.icon {
    background-color: var(--clr-primary-100);
    padding: $s_2;
    border: 1px solid var(--clr-primary-700);
    cursor: pointer;
  }
}
