@use "../utils" as *;

.item-card {
  @include d_flex(column, $a_i: start);
  height: 100%;
  background: var(--clr-bg-500);

  .item-img {
    width: 100%;

    @include pseudo(0) {
      background-image: url("../img/wave.svg");
      height: auto;
      width: 100%;
      background-repeat: no-repeat;
      background-position: bottom;
      margin-block-end: px_to_rem(-4);
    }
  }

  .doctor-details {
    padding: px_to_rem(12);
    padding-block-start: px_to_rem(0);

    .doctor-name {
      @include fs("h4");
    }

    .doctor-caption {
      @include fs("caption");
      margin-block: px_to_rem(8);
    }

    > img {
      margin-block-end: px_to_rem(16);
    }

    .doctor-detail {
      margin-block: px_to_rem(0);
    }
  }
}
