@use '../utils/index' as *;

.front-page {
  &-hero {
    min-height: 85vh;

    @include mq('md') {
      min-height: 55vh;
    }

    @include pseudo(0, 100%, 1, before) {
      background-image: url('../img/new-hero.webp');
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }

    &__image {
      img {
        position: absolute;
        bottom: 0;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        z-index: 6;

        @media (max-width: 900px) {
          max-width: 80%;
        }

        @include mq('md') {
          max-width: 60%;
        }

        @include mq('sm') {
          max-width: 100%;
        }
      }
    }

    &__title,
    &__title-overlay {
      --percent: 70%;
      @include fs('title');
      isolation: auto;
      font-weight: 600;
      color: var(--clr-natural-900);
      position: absolute;
      left: 50%;
      top: 28%;
      transform: translate(-50%, -50%);
      text-wrap: nowrap;
      font-size: min(10vw, 112px);

      @media (min-width: 280px) and (max-width: 768px) {
        top: 16%;
      }
    }

    &__title {
      -webkit-clip-path: inset(0% var(--percent) 0% 0%);
      clip-path: inset(0% var(--percent) 0% 0%);
      z-index: 100;
    }

    &__title-overlay {
      -webkit-clip-path: inset(0% 0% 0% calc(100% - var(--percent)));
      clip-path: inset(0% 0% 0% calc(100% - var(--percent)));
      z-index: 5;
    }

    &__content {
      @include d_flex(column, center, center);

      position: absolute;
      inset: 0;
      width: 30%;
      z-index: 4;
      background-color: rgba(#000, 0.2);
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);

      @include mq('md') {
        height: 28%;
        width: 100%;
        bottom: 0;
        top: unset;
        z-index: 100;

        align-items: start;
      }

      @media (max-width: 900px) and (min-width: 769px) {
        width: 35%;
      }

      &-title {
        @include fs('h1');
        color: #fff;

        @include mq('md') {
          @include fs('h2');
        }
      }

      &-search {
        z-index: 200;
        @include mq('md') {
          min-width: 100%;
        }
      }

      &-inner {
        @include d_flex(column, start, start);

        gap: $s_2;
        padding-inline: $s_4 $s_4;

        @media (max-width: 960px) and (min-width: 769px) {
          padding-block-start: 16rem;
        }

        @include mq('md') {
          min-width: 100%;
        }
      }
    }

    &__airplane {
      img {
        position: absolute;
        left: 5%;
        bottom: 5%;
        z-index: 2;

        @include mq('md') {
          left: 50%;
          transform: translateX(-50%);
          bottom: 35%;
          max-width: 250px;
          z-index: 20;
        }

        @media (min-width: 280px) and (max-width: 768px) {
          bottom: 55%;
        }
      }
    }
  }
}

.service {
  margin-block: $s_8;

  &__head {
    @include d_flex(row, space-between);
    width: 100%;
  }

  &__post {
    --min-width-card: 240px;
    margin-block: $s_4;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-width-card), 1fr)
    );
    gap: $s_2;
  }

  &__footer {
    display: none;
  }

  @include mq('md') {
    &__head .btn {
      display: none;
    }

    &__footer {
      display: block;

      .btn {
        width: 100%;
      }
    }

    &__post {
      --min-width-card: 160px;
    }
  }
}

.middle-section {
  display: grid;
  gap: $s_6;

  &__title {
    display: block;
    width: 100%;
    text-align: center;

    @include mq('md') {
      @include fs('h1');
      text-align: start;
    }
  }

  &__inner {
    @include d_flex(row, start, start, nowrap, true, $s_3);

    counter-increment: middle-section-num;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }

    img {
      width: 100%;

      @include mq('md') {
        max-height: 360px;
      }
    }

    &-content {
      padding-block: $s_9 0;
      @include pseudo(0, $s_2, -1, after, counter(middle-section-num)) {
        font-size: 12rem;
        font-weight: bold;
        font-family: 'Peydafa';
        opacity: 0.15;
      }

      &::after {
        line-height: 100%;
      }
    }

    &-image {
      @include mq('md') {
        min-width: 100%;
      }
    }

    &:last-child {
      margin-block-end: 2.25rem;
    }

    @include mq('md') {
      flex-direction: column-reverse !important;
    }

    @include mq('md') {
      gap: 0;
    }
  }
}

.tours {
  background-color: var(--clr-natural-900);
  padding-block: $s_6;

  &__title {
    color: var(--clr-text-100);
  }

  &__header {
    @include d_flex(row, space-between, center);
    -webkit-margin-after: $s_4;
    margin-block-end: $s_4;
  }

  &__footer {
    -webkit-margin-before: $s_4;
    margin-block-start: $s_4;
    display: none;
  }

  @include mq('md') {
    &__header {
      .btn {
        display: none;
      }
    }

    &__footer {
      display: block;

      .btn {
        width: 100%;
      }
    }
  }

  &__post {
    &-video {
      --transition: opacity 0.3s ease;
      position: relative;

      @include pseudo(0, 100%, 1, before) {
        background-image: var(--bg-url);
        background-size: cover;
        background-position: center;
        pointer-events: none;
        transition: var(--transition);
      }

      @include make_icon('\e91b') {
        --size: 75px;
        --padding: 0.75rem 0.75rem 0.75rem 0.75rem;

        position: absolute;
        left: 50%;
        top: 50%;
        width: var(--size);
        height: var(--size);
        font-size: 3rem;
        transform: translate(-50%, -50%);
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: var(--padding);
        background: rgba(#000, 0.3);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        z-index: 2;
        pointer-events: none;
        transition: var(--transition);
        opacity: 0;
      }
    }

    &-picture {
      background-image: var(--bg-url);
      background-size: cover;
      background-position: center;
    }
  }

  .swiper-slide {
    width: min(390px, 100%);
    height: 640px;
    opacity: 0.4;
    transition: var(--transition);

    &-active {
      opacity: 1;

      &::after {
        opacity: 1;
      }

      &.playing {
        &::after,
        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.testimonials {
  &__header {
    margin-block: $s_8 $s_6;
  }
}

.faq {
  &__head {
    @include d_flex(row, space-between);
    margin-block: $s_8 $s_6;
  }

  &__content {
    @include d_flex(column, $a_i: auto, $gap: $s_3);
  }
}

.middle-banner {
  margin-block: $s_8;

  &__desktop {
    @media (max-width: 769px) {
      display: none;
    }
  }

  &__mobile {
    @media (min-width: 769px) {
      display: none;
    }
  }
}

.blogs-section {
  &__head {
    @include d_flex(row, space-between);
    margin-block: $s_8 $s_6;
  }
}
