@use '../utils/index' as *;

.single-service {
  .grid-main {
    gap: 1rem;

    @include mq('lg') {
      > *:nth-child(2) {
        grid-row: 2;
      }
    }
  }

  &__sidebar {
    > * {
      --col: 1;
      display: grid;
      align-items: start;
      gap: 1rem;
      grid-template-columns: repeat(var(--col), 1fr);
      position: sticky;
      top: $s_8;

      @include mq('lg') {
        --col: 2;
      }
    }
  }

  &__hero {
    @include d_flex($even_column: true, $gap: $s_2);

    @include mq('md') {
      flex-direction: column;
    }
  }

  &__microservice {
    margin-block-start: $s_4;
    @include d_flex(column, $gap: $s_6);

    &__item {
      @include d_flex(column, start, stretch, $gap: $s_2);
    }

    &__image {
      width: 100%;

      > * {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    &__card {
      background: center / cover no-repeat var(--bg-url);
      background-color: var(--clr-primary-500);
      padding-block: $s_6;
      display: grid;
      place-items: center;
      color: var(--clr-text-100);

      @include pseudo(0, 100%, -1) {
        background-color: rgba(#000, 0.3);
      }
    }
  }
}
