@use '../../utils' as *;

.general-card {
  @include d_flex(column, $a_i: start, $even_column: true);
  height: 100%;
  background: var(--clr-bg-500);
  isolation: isolate;

  &:not(.no-media) {
    @media (max-width: 803px) {
      flex-direction: row;

      .general-card__details {
        .address-con {
          display: none;
        }
      }
      overflow: hidden;

      .general-card__image {
        height: 100%;
        .img-wrapper {
          height: 100%;
          &::after {
            background-image: url('../img/wave-horizontal.svg');
            background-size: contain;
            background-position: -8px; //8px fix left line
            height: 101%;
            left: calc(0px - 1px);
            width: auto;
          }
          img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
          }
        }
        &::after {
          display: none;
        }
      }
    }
  }

  &__image {
    width: 100%;
    z-index: -1;

    .img-wrapper {
      height: 250px; //according design
      -webkit-margin-after: -1.5rem;
      margin-block-end: -1.5rem;

      img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
        width: 100%;
      }

      @include pseudo(0) {
        background-image: url('../img/wave.svg');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 0 104%; //4% fix bottom line
      }
    }
  }

  &__details {
    z-index: 1;
    padding: $s_3;
    display: flex;
    flex-direction: column;
    gap: $s_3;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .features {
      margin-block: unset;
    }
  }

  &__icon-group {
    @include d_flex($gap: $s_3);
    @include fs('body-s');
  }

  &__icon {
    @include d_flex($gap: $s_1, $a_i: center);
    color: var(--clr-text-300);
  }

  &__caption {
    @include fs('caption');
    color: var(--clr-text-300);
    @include max_line(1);
  }
}
